<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target includeMode="feature" name="hu.blackbelt.eclipse.emf.genmodel.generator.targetdefinition.target" sequenceNumber="1558342632">
  <locations>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/releases/2021-12"/>
		  <unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
	    <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.1.v20210218-2134"/>
	    <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.12.1.v20210218-2134"/>
	    <unit id="org.eclipse.emf.sdk.feature.group" version="2.28.0.v20211110-0654"/>
	    <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.200.v20211117-0650"/>
	    <unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.22.0.v20211020-1255"/>
	    <unit id="org.eclipse.sdk.feature.group" version="4.22.0.v20211124-1800"/>
		  <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.2.202008210805"/>
		  <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>